.list_cell {
    display: block;
    float: left;
    width: 33%;
    height: 3.2rem;
    padding-top: .1rem;
    padding-left: .08rem;
    overflow: hidden;
    .background {
        img {
            width: 100%;
            border-radius: 4px;
        }
    }
    .list_title {
        font-size: .22rem;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
    }
}