.control_container {
    position: absolute;
    height: 2rem;
    left: 0;
    right: 0;
    bottom: 0.2rem;
    z-index: 30;
    padding: 0 0.24rem;
    overflow: hidden;
    color: rgba(255,255,255, .5);
    .time_progress {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 0.8rem;
        span:nth-child(2) {
            position: relative;
            flex: 1;
            // width: 5.2rem;
            height: 4px;
            margin-right: 4px;
            margin-left: 4px;
            border-radius: 4px;
            background-color: rgba(219,219,219,0.4);
            i:first-child {
                position: absolute;
                left: 0;
                top: -4px;
                z-index: 10;
                width: 10px;
                height: 10px;
                border-radius: 10px;
                border: 1px solid #e5e5e5;
                background-color: #fff;
                .red_bullet {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: 2px;
                    height: 2px;
                    border-radius: 2px;
                    background-color: red;
                }
                .cache_loading {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    animation: loading 0.5s linear infinite;
                    b {
                        position: absolute;
                        width: 5px;
                        height: 1px;
                        left: 0;
                        top: 5px;
                        transform-origin: right center;
                        background-color: #ff0987;
                        opacity: 0.6;
                    }
                    b:nth-child(2) {
                        transform: rotate(90deg);
                        opacity: 0.5;
                    }
                    b:nth-child(3) {
                        transform: rotate(180deg);
                        opacity: 0.4;
                    }
                    b:nth-child(4) {
                        transform: rotate(270deg);
                        opacity: 0.3;
                    }
                }
            }
            i:last-child {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 5;
                display: block;
                width: 0;
                height: 100%;
                border-radius: 8px;
                background-color: #ff0987;
            }
        }
    }
    .control_button {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        font-size: 0;
        div:nth-child(1),div:nth-child(3) {
            img {
                width: 0.6rem;
                height: 1rem;
                path {
                    fill: rgba(73,56,41,0.4);
                }
            }
        }
        div:nth-child(2) {
            flex: 1;
            display: inline-flex;
            justify-content: space-around;
            align-items: center;
            margin: 0 0.2rem;
            img {
                width: 0.8rem;
                height: 1.2rem;
            }
        }
    }
}
@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}