#play {
    .blur_bac {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: rgba(0,0,0,0.2);
        // background-image: url("../imgs/fade.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        filter: blur(20px);
    }
}